In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('/content/drive/MyDrive/Courses /Старт ИИ/14.Линейная регрессия/penguins.csv')
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [18]:
df['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [19]:
def pengton(a):
  if a == 'Adelie':
    return 0
  elif a == 'Chinstrap':
    return 1
  elif a == 'Gentoo':
    return 2
df['species'] = df['species'].apply(pengton)

In [21]:
df['species'].value_counts()

0    152
2    124
1     68
Name: species, dtype: int64

In [23]:
df['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

In [27]:
def isltona(a):
  if a == 'Biscoe':
    return 0
  elif a == 'Dream':
    return 1
  elif a == 'Torgersen':
    return 2
df['island'] = df['island'].apply(isltona)
df['island'].value_counts()

0    168
1    124
2     52
Name: island, dtype: int64

In [33]:
df['bill_length_mm'].mean()

43.9219298245614

In [36]:
df.shape

(344, 8)

In [37]:
df.dropna().shape

(333, 8)

In [40]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [41]:
df = df.dropna()

In [42]:
df.shape

(333, 8)

In [44]:
df['sex'].value_counts()

male      168
female    165
Name: sex, dtype: int64

In [47]:
def setonu(a):
  if a == 'male':
    return 1
  elif a == 'female':
    return 0
df['sex'] = df['sex'].apply(setonu)
df['sex'].value_counts()

<ipython-input-47-21634b68c7db>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].apply(setonu)

1    168
0    165
Name: sex, dtype: int64

In [48]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,0,2,39.1,18.7,181.0,3750.0,1,2007
1,0,2,39.5,17.4,186.0,3800.0,0,2007
2,0,2,40.3,18.0,195.0,3250.0,0,2007
4,0,2,36.7,19.3,193.0,3450.0,0,2007
5,0,2,39.3,20.6,190.0,3650.0,1,2007
...,...,...,...,...,...,...,...,...
339,1,1,55.8,19.8,207.0,4000.0,1,2009
340,1,1,43.5,18.1,202.0,3400.0,0,2009
341,1,1,49.6,18.2,193.0,3775.0,1,2009
342,1,1,50.8,19.0,210.0,4100.0,1,2009
343,1,1,50.2,18.7,198.0,3775.0,0,2009

In [55]:
df = df.drop(columns=['year'])

In [56]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
339,1,1,55.8,19.8,207.0,4000.0,1
340,1,1,43.5,18.1,202.0,3400.0,0
341,1,1,49.6,18.2,193.0,3775.0,1
342,1,1,50.8,19.0,210.0,4100.0,1
343,1,1,50.2,18.7,198.0,3775.0,0

In [57]:
df.to_pickle('/content/drive/MyDrive/Courses /Старт ИИ/14.Линейная регрессия/newpeng.pkl')

In [58]:
ne = pd.read_pickle('/content/drive/MyDrive/Courses /Старт ИИ/14.Линейная регрессия/newpeng.pkl')

In [61]:
ne.shape

(333, 7)